body {
    font-size: 18px;
    font-size: 13;
    font-family: Comfortaa;
    margin: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    color: #f2f2f2;
}

@font-face {
    font-family: Comfortaa;
    src: url(font/Comfortaa-VariableFont_wght.ttf);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.header {
    display: none;
    overflow: auto;
    overflow-x: visible;
}

.header img {
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: fixed;
}

.main {
    width: 18rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    word-wrap: break-word;
    border: 1px solid black;
    margin-top: 0.5rem;
    align-items: center;
    z-index: 1;
    margin-bottom: -24rem;
    border-radius: 4px;
}

.ipAddress {
    width: 80%;
    border-radius: 5px;
}

.address h6 {
    margin-top: 0.5rem;
}

.outputData div>h6 {
    margin-top: 1rem;
    margin-bottom: -0.5rem;
}

.outputData div>p {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.inputIp * {
    box-sizing: border-box;
}

form.inputIp input[type=search] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.inputIp button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: #e6e6e6;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 42px;
}

form.inputIp button:hover {
    background: #0b7dda;
}

form.inputIp::after {
    content: "";
    clear: both;
    display: table;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 0.5rem;
    top: 0;
    color: #e6e6e6;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (min-width: 1440px) {
    .main {
        width: 45rem;
        height: 14rem;
        display: flex;
        flex-direction: column;
        background-color: #333333;
        word-wrap: break-word;
        border: 1px solid black;
        align-items: center;
        z-index: 1;
        margin-top: -5rem;
        position: absolute;
    }

    .header {
        height: 100%;
        width: 100%;
        margin-bottom: -50px;
    }

    .outputData {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .outputData div {
        flex-grow: 1;
    }

    .divider {
        border-left: 3px solid black;
        height: 5rem;
        margin-top: 1rem;
    }

    .outputData div>p {
        margin-top: 2rem;
        margin-left: -1rem;
        overflow-wrap: break-word;
    }

    .ipAddress {
        width: 90%;
    }
}